@model List<Game>
@{
    ViewData["Title"] = "Game Store";
}

<div class="p-5 ms-0 mb-4 shadow" style="background-color:black;border-radius:30px;">
    <h2>
        Games of the Week
    </h2>
</div>
<div class="row">
    <div class="col-md-5">
        <h2>Red Dead Redemption 2</h2>
        <img src="~/images/rdr2.jpg" alt="Red Dead Redemption 2" asp-append-version="true"
             class="float-sm-start img-fluid col-sm-4  shadow rounded-sm" />
        <p class="text-danger">
            Currently Unavailable<i class="fa fa-ban" style="font-size:48px;color:red"></i><br />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Final Fantasy XVI</h2>
        <img src="~/images/ff16.jpeg" alt="Final Fantasy XVI" asp-append-version="true"
             class="float-sm-start img-fluid col-sm-4  shadow rounded-sm" />
        <p class="text-danger">
            Currently Unavailable<i class="fa fa-ban" style="font-size:48px;color:red"></i><br />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Baldurs Gate 3</h2>
        <img src="~/images/bg3.jpeg" alt="Baldurs Gate 3" asp-append-version="true"
             class="float-sm-start img-fluid col-sm-4  shadow rounded-sm" />
        <p class="text-danger">
            Currently Unavailable<i class="fa fa-ban" style="font-size:48px;color:red"></i><br />
        </p>
    </div>
    <div class="col-md-6">
        <h2>God of War (2018)</h2>
        <img src="~/images/gow.jpg" alt="God of War (2018)" asp-append-version="true"
             class="float-sm-start img-fluid col-sm-4  shadow rounded-sm" />
        <p class="text-danger">
            Currently Unavailable<i class="fa fa-ban" style="font-size:48px;color:red"></i><br />
        </p>
    </div>
</div>
<div class="p-5 ms-0 mb-4 shadow" style="background-color:black;border-radius:30px;">
    <h2>
        Customize Game Library
    </h2>
</div>
<div class="mb-2">
    <a asp-controller="Games" asp-action="Create">Add New Game</a>
</div>
<table class="table table-bordered table-striped">
    <thread>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Cost</th>
            <th></th>

        </tr>
    </thread>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.Title</td>
                <td>@game.Year</td>
                <td>@game.Rating</td>
                <td>@game.Cost</td>
                <td>
                    <a asp-controller="Games" asp-action="Edit" asp-route-id="@game.GameId">Edit</a>
                    <a asp-controller="Games" asp-action="Delete" asp-route-id="@game.GameId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>